body
{
	background-color:	#ddd;
}

#wrapper_main
{
	position: 			fixed;
	height:				100%;
	width:				100%;
}

.heading_page
{
	position: 			relative;
	display:			inline-block;
	height:				100px;
	width:				100%;
	text-align:			center;	
	color:				#eee;
	background:			#800;
}

#heading_text
{
	display:			inline-block;
	vertical-align:		middle;
	line-height:		2em;
	font-size:			2em;
	font-style:			bold;
	font-weight: 		bold;
}

#menu_wrapper
{
	position: 			relative;
	float:				left;
	display: 			inline-block;
	height:				100%;
	width:				150px;
	color:				#eee;
	background:			#800;
}

#contentframe
{
	position: 			relative;
	display: 			inline-block;
	float:				left;
	height:				100%;
	width:				84%;
	text-align:			center;
	background:			#fff;
}

#loginframe
{
	height:				100%;
	width:				75%;
    margin-left:        auto;
    margin-right:       auto;
	background:			#fff;
}

.content_wrapper
{
	position: 			relative;
	display: 			inline-block;
	height:				100%;
	width:				90%;
	margin-top:			20px;
	padding:			10px;
	text-align:			left;
	background:			#eee;
	border-radius:		20px;
}

