body
{
	background-color:	#fff;
}

#wrapper_main
{
	position: 			fixed;
	height:				100%;
	width:				100%;
}

.heading_page
{
	position: 			relative;
	display:			inline-block;
	width:				98%;
	text-align:			center;	
	color:				#eee;
	background:			#800;
	border-radius:			15px;
	-webkit-border-radius:	15px;
	box-shadow: 			5px 5px 5px #333;
	-webkit-box-shadow:		5px 5px 5px #333;	
}

#heading_text
{
	display:			inline-block;
	vertical-align:		middle;
	line-height:		2em;
	font-size:			2em;
	font-style:			bold;
	font-weight: 		bold;
}

#menu_wrapper
{
	position: 			relative;
	display: 			inline-block;
	height:				100%;
	color:				#eee;
	background:			#800;
}

#contentframe
{
	position: 			relative;
	display: 			inline-block;
	float:				left;
	height:				100%;
	width:				100%;
	text-align:			center;
	background:			#fff;
	overflow:			hidden;
}

.content_wrapper
{
	position: 			relative;
	display: 			inline-block;
	height:				100%;
	width:				85%;
	margin-top:			20px;
	padding:			10px;
	text-align:			left;
	background:			#eee;
	border-radius:		20px;
	-webkit-border-radius: 20px;
}

#profilebox 
{
	border:					5px solid black;
	background:				#555555;
	float: 					left;
	margin:					10px 10px 10px 10px;
	box-shadow: 			2px 2px 2px #222;
	-webkit-box-shadow:		2px 2px 2px #222;
	border-radius:			15px;
	-webkit-border-radius:	15px;	
	min-width:				128px;
	max-width:				128px;
	min-height:				160px;
	max-height:				160px;
	overflow:				hidden;
}

#avatar 
{
	min-width:				128px;
	max-width:				128px;
	min-height:				128px;
	max-height:				128px;
}
